body {
    margin: 0;
    color: white;
    height: 100vh;
    background-color: #000;
}

main {
    display: grid;
    place-content: center;
    text-align: center;
}


form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    margin: clamp(5px, 2vh, 25px);
}

input[type="text"], input[type="password"] {
    width: clamp(100px, 20vw, 250px);
    background-color: #000;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 10px;
    color: #fff;
}

input[type="text"]:focus, input[type="password"]:focus {
    box-shadow: 0 0 0 3px #fff;
}

a, input[type="submit"] {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    width: clamp(50px, 20vw, 125px);
}

a:hover, input[type="submit"]:hover {
    box-shadow: 0 0 32px #fff;
    outline: none;

}

footer {
    position: absolute;
    bottom: 0;

    display: grid;
    place-content: center;
    text-align: center;
}